$root-ele-fs: 62.5%; //10÷16=62.5% 
$main-ff: "microsoft yahei", 宋体, sans-serif;
$color-bg:#F5F5F5;
$color-green: #2AB842;
$color-white:#fff;
$color-blue: #3c86e5;
$color-yellow: #ff9b0d;
$color-orange: #ff4e00;
$color-lightgray: #dfdfdf;
$color-light:#ECE9E2;
$color-gray: #cecece;
$color-deepgray: #808080;
$color-deepgray2:#323232;
$color-skyblue: #1ec8bf;
$color-pink:#FF4F7D;
$boder-color: #f1f0e8;

$supported-browser: chrome firefox opera;


